.faculty{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    
}
.student{
    background-color:darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: aliceblue;
    font-size: 8px;
    text-align: center;
}
.footer{
    border: 3px, solid, black;
}
h6{
    font-size: 18px;
}
.header{
    background-color: black;
    color: aliceblue;
    text-align: center;

}
.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: 40px;
}